*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(253, 134, 134);
    font-family: 'Poppins', sans-serif;
}
#head3{
    height: 30px;
    background: #0f172a;
}
#head{
    color: white;
     background: linear-gradient(to right bottom,red,black);
    text-align: center;
    font-weight: 400;
    padding: 25px 0;
    margin-bottom: 10px;
}
#head1{
    text-transform: uppercase;
    font-size: medium;
    
}
#head2{
    font-size: 7px;
}
/*Second box*/
#next2{
    color: white;
     background: linear-gradient(to right bottom,red,black);
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
    border-radius: 2px;
    margin-bottom: 10px;
}
#next21{
    font-size: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px;
    padding: 5px;
}
#next22{
    margin-top: 4px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
}
#main1{
    background: linear-gradient(to right bottom,red,black);
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 9px 0;
    border-radius: 2px;
    margin-bottom: 10px;
}
.main11{
    background-color: white;
    font-size: 4px;
    width: 50%;
    margin: 2px auto;
    padding: 2px;
    border-radius: 2px;
}
.main12{
    text-transform: uppercase;
    font-size: 9px;
    margin-bottom: 4px;
    color: white;
}
#main2{
    background: linear-gradient(to right bottom,red,black);
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 9px 0;
    margin-bottom: 10px;
}
.main21{
    background-color:white;
    font-size: 4px;
    width: 50%;
    margin: 2px auto;
    padding: 2px;
    border-radius: 2px;
}
#prefinal{
    background: linear-gradient(to right bottom,red,black);
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 9px 0;
    border-radius: 2px;
    margin-bottom: 10px;
}
#final{
    background: linear-gradient(to right bottom,red,black);
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 9px 0;
    border-radius: 2px;
    margin-bottom: 10px;
}